apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: pg-cluster
  namespace: argocd
spec:
  sources:
  - repoURL: 'https://github.com/rcanderson23/homelab2.git'
    path: 'argocd/apps/development/pg-cluster/manifests'
    targetRevision: main
  project: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
    - CreateNamespace=true
    - ServerSideApply=true
  destination:
    server: https://kubernetes.default.svc
    namespace: pg-cluster
